@model ScheduleControl.WebUI.ViewModels.AuthViewModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Hangfire Login Operation</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
   
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="signin.css" rel="stylesheet">
</head>
<body class="text-center">
   
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "signinForm" }))
        {
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-3 font-weight-normal">Login Form</h1>
            <div class="form-group">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input asp-for="@Model.UserForLoginDto.Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="sr-only">Password</label>
                <input asp-for="@Model.UserForLoginDto.Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnlogin">Login</button>
            </div>
            <div class="form-group">
                <p class="message"> <a href="javascript:ToggleForm('register')">Register</a></p>
            </div>
        }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "registerForm", @style = "display:none;" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="h3 mb-3 font-weight-normal">User  Register Form</h1>
         
        <div class="form-group">
            <input   type="text" placeholder="First Name" class="form-control" id="firstname"  asp-for="@Model.UserForRegisterDto.FirstName" />
            <span asp-validation-for="@Model.UserForRegisterDto.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input   type="text" placeholder="Last Name" class="form-control" id="lastname"  asp-for="@Model.UserForRegisterDto.LastName"/>
        </div>
        <div class="form-group">
            <input  type="password" placeholder="Password" class="form-control" id="password" asp-for="@Model.UserForRegisterDto.Password"/>
        </div>
        <div class="form-group">
            <input   type="text" placeholder="Email Address" class="form-control" id="email" asp-for="@Model.UserForRegisterDto.Email"/>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-danger btn-block" type="submit" id="btnregister">Register</button>
        </div>
        <div class="form-group">
            <p class="message col-form-label">Already registered? <a href="javascript:ToggleForm('signin')">Login</a></p>
        </div>
    }
</body>
</html>

<script type="text/javascript">

    function ToggleForm(formName) {
        if (formName == 'signin') {
            $('#signinForm').slideDown();
            $('#registerForm').slideUp();
        } else {
            $('#signinForm').slideUp();
            $('#registerForm').slideDown();
        }
    }
</script>